# Modelling

## Notebook Summary

- Random Forest Regressor 
- XG Boost

## Notebook Setup

In [1]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.graph_objects as go


# Loading sklearn functionality
from sklearn.linear_model import Lasso, Ridge, LinearRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder, StandardScaler, MinMaxScaler
from sklearn.feature_selection import SelectKBest, VarianceThreshold, f_classif, f_regression
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor

# Set global random seed for reproducibility
random_seed_val = 42
np.random.seed(random_seed_val)

## Data loading

In [2]:
# Creating DataFrame
pp_house_df = pd.read_csv("london_house_price_data_pp.csv")
# Viewing DataFrame
pp_house_df.head(5)

,latitude,longitude,bathrooms,bedrooms,floorAreaSqM,livingRooms,saleEstimate_currentPrice,history_price,tenure_Feudal,tenure_Freehold,...,propertyType_Mid Terrace House,propertyType_Mid Terrace Property,propertyType_Purpose Built Flat,propertyType_Semi-Detached Bungalow,propertyType_Semi-Detached House,propertyType_Semi-Detached Property,propertyType_Terrace Property,propertyType_Terraced,propertyType_Terraced Bungalow,currentEnergyRating_encoded
0,51.495505,-0.132379,2.0,2.0,71.0,1.0,759000.0,249950,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1,51.478185,-0.092201,1.0,1.0,64.0,1.0,388000.0,32000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
2,51.588774,-0.139599,1.0,4.0,137.0,2.0,1261000.0,133000,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
3,51.466089,0.006967,1.0,2.0,97.0,1.0,944000.0,128500,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
4,51.451327,-0.007569,1.0,3.0,135.0,2.0,726000.0,75000,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0

In [3]:
# Columns and data types
pp_house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265911 entries, 0 to 265910
Data columns (total 32 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   latitude                             265911 non-null  float64
 1   longitude                            265911 non-null  float64
 2   bathrooms                            265911 non-null  float64
 3   bedrooms                             265911 non-null  float64
 4   floorAreaSqM                         265911 non-null  float64
 5   livingRooms                          265911 non-null  float64
 6   saleEstimate_currentPrice            265911 non-null  float64
 7   history_price                        265911 non-null  int64
 8   tenure_Feudal                        265911 non-null  float64
 9   tenure_Freehold                      265911 non-null  float64
 10  tenure_Leasehold                     265911 non-null  float64
 11  tenure_Shared                        265911 non-null  float64
 12  propertyType_Bungalow Property       265911 non-null  float64
 13  propertyType_Converted Flat          265911 non-null  float64
 14  propertyType_Detached Bungalow       265911 non-null  float64
 15  propertyType_Detached House          265911 non-null  float64
 16  propertyType_Detached Property       265911 non-null  float64
 17  propertyType_End Terrace Bungalow    265911 non-null  float64
 18  propertyType_End Terrace House       265911 non-null  float64
 19  propertyType_End Terrace Property    265911 non-null  float64
 20  propertyType_Flat/Maisonette         265911 non-null  float64
 21  propertyType_Mid Terrace Bungalow    265911 non-null  float64
 22  propertyType_Mid Terrace House       265911 non-null  float64
 23  propertyType_Mid Terrace Property    265911 non-null  float64
 24  propertyType_Purpose Built Flat      265911 non-null  float64
 25  propertyType_Semi-Detached Bungalow  265911 non-null  float64
 26  propertyType_Semi-Detached House     265911 non-null  float64
 27  propertyType_Semi-Detached Property  265911 non-null  float64
 28  propertyType_Terrace Property        265911 non-null  float64
 29  propertyType_Terraced                265911 non-null  float64
 30  propertyType_Terraced Bungalow       265911 non-null  float64
 31  currentEnergyRating_encoded          265911 non-null  float64
dtypes: float64(31), int64(1)
memory usage: 64.9 MB

In [4]:
# Shape of the DataFrame
pp_house_df.shape

(265911, 32)

## Preparing Data

In [5]:
# Seperating features from target
X = pp_house_df.drop('saleEstimate_currentPrice', axis=1)
y = pp_house_df['saleEstimate_currentPrice']

In [6]:
# Remainder test split
X_remainder, X_test, y_remainder, y_test = train_test_split(X, y, test_size=0.20, random_state=random_seed_val)

# Train validation split
X_train, X_valid, y_train, y_valid = train_test_split(X_remainder, y_remainder, test_size=0.20, random_state=random_seed_val)

# Checking size of split
print(f"Training set size: {len(X_train)}")
print(f"Validation set size: {len(X_valid)}") 
print(f"Test set size: {len(X_test)}")

Training set size: 170182
Validation set size: 42546
Test set size: 53183

## Non-Linear Modelling

### Random Forest Classifier

Random Forest Regressor is ideal for predicting property prices as it captures non-linear relationships, handles outliers, provides feature importance, requires no scaling, and delivers strong predictive performance with minimal tuning.

In [7]:
# Initialize the Random Forest Regressor
rf_model = RandomForestRegressor(n_estimators=50, max_depth=10, random_state=42)

# Fit the model
rf_model.fit(X_train, y_train)

# Score on training data
train_score = rf_model.score(X_train, y_train)

# Prediction on valid data
valid_score = rf_model.score(X_valid, y_valid)

# Printing scores
print(f" Train score: {train_score:.4f} Validation score : {valid_score:.4f}")

 Train score: 0.9149 Validation score : 0.8815

In [ ]:
# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 200],  
    'max_depth': [1, 10, 20, 30],  
    'min_samples_split': [2, 5, 10],  
    'min_samples_leaf': [1, 2, 4],    
    'max_features': ['auto', 'sqrt']   
}

# Initialize the Random Forest Regressor
rf_model = RandomForestRegressor(random_state=42)

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=rf_model, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error', n_jobs=-1)

# Fit GridSearchCV to the training data
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_
print(f"Best hyperparameters: {best_params}")

# Get the best model
best_rf_model = grid_search.best_estimator_

# Evaluate the best model on the validation data
best_valid_score = best_rf_model.score(X_valid, y_valid)
print(f"Validation R^2 score with best hyperparameters: {best_valid_score:.4f}")